.1_53 {
	overflow:hidden;
}
.e1_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:1678px;
	height:3177px;
	position:absolute;
}
.e1_67 { 
	background-color:rgba(255, 255, 255, 1);
	width:1678px;
	height:873px;
	position:absolute;
	left:6px;
	top:1028px;
}
.e1_68 { 
	color:rgba(0, 0, 0, 1);
	width:750px;
	height:144px;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_69 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:80px;
	top:324px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_70 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:80px;
	top:384px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_71 { 
	width:130px;
	height:40px;
	position:absolute;
	left:80px;
	top:506px;
}
.ei1_71_0_557 { 
	background-color:rgba(255, 255, 255, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i1_71_0_557 { 
	border:1px solid rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
}
.ei1_71_0_559 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:101px;
	height:18px;
	position:absolute;
	left:15px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e1_72 { 
	width:130px;
	height:40px;
	position:absolute;
	left:913px;
	top:506px;
}
.ei1_72_0_557 { 
	background-color:rgba(255, 255, 255, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i1_72_0_557 { 
	border:1px solid rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
}
.ei1_72_0_559 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:101px;
	height:18px;
	position:absolute;
	left:15px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e1_73 { 
	width:130px;
	height:40px;
	position:absolute;
	left:80px;
	top:836px;
}
.ei1_73_0_557 { 
	background-color:rgba(255, 255, 255, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i1_73_0_557 { 
	border:1px solid rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
}
.ei1_73_0_559 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:101px;
	height:18px;
	position:absolute;
	left:15px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e1_74 { 
	width:130px;
	height:40px;
	position:absolute;
	left:913px;
	top:836px;
}
.ei1_74_0_557 { 
	background-color:rgba(255, 255, 255, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i1_74_0_557 { 
	border:1px solid rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
}
.ei1_74_0_559 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:101px;
	height:18px;
	position:absolute;
	left:15px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e1_75 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:913px;
	top:324px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_76 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:913px;
	top:384px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_77 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:80px;
	top:606px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_78 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:122px;
	position:absolute;
	left:80px;
	top:645px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_79 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:913px;
	top:606px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_80 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:913px;
	top:666px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e214_266 { 
	width:1678px;
	height:939px;
	position:absolute;
	left:0px;
	top:134px;
	background-image:url("/static/images/main_image.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.e217_425 { 
	background-color:rgba(254.00000005960464, 156.00000590085983, 47.0000009983778, 1);
	width:1680px;
	height:804px;
	position:absolute;
	left:0px;
	top:1946px;
}
.e217_427 { 
	background-color:rgba(255, 255, 255, 0.7799999713897705);
	width:276.09381103515625px;
	height:83.55467987060547px;
	position:absolute;
	left:1162.6617431640625px;
	top:438.1047668457031px;
	border-top-left-radius:4.84375px;
	border-top-right-radius:4.84375px;
	border-bottom-left-radius:4.84375px;
	border-bottom-right-radius:4.84375px;
}
.e217_428 { 
	color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:247.03125px;
	height:55px;
	position:absolute;
	left:1206.093994140625px;
	top:454.1014404296875px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:14.531249046325684px;
	letter-spacing:3;
	line-height:px;
}
.e217_429 { 
	border-radius:500px;
	background-color:rgba(236.93750202655792, 233.9757737517357, 231.01406067609787, 0.3100000023841858);
	width:52.5px;
	height:53.60000991821289px;
	position:absolute;
	left:1592.0625px;
	top:36.18018341064453px;
}
.e217_430 { 
	width:29.062501907348633px;
	height:29.0625px;
	position:absolute;
	left:1478.5546875px;
	top:42.3828125px;
}
.e217_431 { 
	background-color:rgba(190.18750101327896, 188.60260605812073, 188.60260605812073, 1);
	width:21.796875px;
	height:21.796873092651367px;
	position:absolute;
	left:3.6325523853302px;
	top:3.6329424381256104px;
}
.e217_432 { 
	color:rgba(255, 255, 255, 1);
	width:531px;
	height:104px;
	position:absolute;
	left:75px;
	top:71px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:83.01292419433594px;
	letter-spacing:3;
}
.e217_433 { 
	width:698px;
	height:123.85090637207031px;
	position:absolute;
	left:75px;
	top:199px;
}
.e217_434 { 
	color:rgba(204.00000303983688, 198.05000871419907, 198.05000871419907, 1);
	width:86px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:21.33624267578125px;
	letter-spacing:3;
}
.e217_435 { 
	background-color:rgba(52.000000700354576, 51.00000075995922, 51.00000075995922, 1);
	width:698px;
	height:79.65443420410156px;
	position:absolute;
	left:0px;
	top:44.19647216796875px;
	border-top-left-radius:7.794971942901611px;
	border-top-right-radius:7.794971942901611px;
	border-bottom-left-radius:7.794971942901611px;
	border-bottom-right-radius:7.794971942901611px;
}
.217_435 { 
	border:1.2991621494293213px solid rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
}
.e217_436 { 
	width:96px;
	height:27px;
	position:absolute;
	left:41.573299407958984px;
	top:25.983198165893555px;
}
.e217_437 { 
	color:rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
	width:96px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:18.188268661499023px;
	letter-spacing:0.5;
}
.e217_438 { 
	width:698px;
	height:123.85087585449219px;
	position:absolute;
	left:75px;
	top:349.0745544433594px;
}
.e217_439 { 
	color:rgba(204.00000303983688, 198.05000871419907, 198.05000871419907, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:21.336238861083984px;
	letter-spacing:3;
}
.e217_440 { 
	background-color:rgba(52.000000700354576, 51.00000075995922, 51.00000075995922, 1);
	width:697.9998168945312px;
	height:79.6544189453125px;
	position:absolute;
	left:0px;
	top:44.19647979736328px;
	border-top-left-radius:7.794970512390137px;
	border-top-right-radius:7.794970512390137px;
	border-bottom-left-radius:7.794970512390137px;
	border-bottom-right-radius:7.794970512390137px;
}
.217_440 { 
	border:1.2991617918014526px solid rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
}
.e217_441 { 
	width:184px;
	height:27px;
	position:absolute;
	left:41.57331085205078px;
	top:25.983200073242188px;
}
.e217_442 { 
	color:rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
	width:184px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:18.18826675415039px;
	letter-spacing:0.5;
}
.e217_443 { 
	width:698px;
	height:175.261962890625px;
	position:absolute;
	left:75px;
	top:496.9043273925781px;
}
.e217_444 { 
	color:rgba(204.00000303983688, 198.05000871419907, 198.05000871419907, 1);
	width:87px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:21.336244583129883px;
	letter-spacing:3;
}
.e217_445 { 
	background-color:rgba(52.06249974668026, 50.544010028243065, 50.544010028243065, 1);
	width:698px;
	height:131.06549072265625px;
	position:absolute;
	left:0px;
	top:44.19659423828125px;
	border-top-left-radius:7.7949724197387695px;
	border-top-right-radius:7.7949724197387695px;
	border-bottom-left-radius:7.7949724197387695px;
	border-bottom-right-radius:7.7949724197387695px;
}
.217_445 { 
	border:1.2991621494293213px solid rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
}
.e217_446 { 
	width:72px;
	height:27px;
	position:absolute;
	left:41.57310104370117px;
	top:25.98325538635254px;
}
.e217_447 { 
	color:rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
	width:72px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:18.188270568847656px;
	letter-spacing:0.5;
}
.e217_448 { 
	width:270.0390625px;
	height:54.4921875px;
	position:absolute;
	left:78px;
	top:698px;
}
.e217_449 { 
	background-color:rgba(36.00000165402889, 67.00000360608101, 110.00000104308128, 1);
	width:270.0390625px;
	height:54.4921875px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4.84375px;
	border-top-right-radius:4.84375px;
	border-bottom-left-radius:4.84375px;
	border-bottom-right-radius:4.84375px;
}
.e217_450 { 
	color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:75px;
	height:36px;
	position:absolute;
	left:110.945068359375px;
	top:12.449424743652344px;
	font-family:Lexend Deca;
	text-align:left;
	font-size:24px;
	letter-spacing:3;
}
.e217_451 { 
	width:56.16725540161133px;
	height:53.358890533447266px;
	position:absolute;
	left:283.6444091796875px;
	top:907.10107421875px;
}
.ei217_451_215_456 { 
	background-color:rgba(255, 3.000000058673322, 2.000000118277967, 1);
	width:56.16725540161133px;
	height:37.5937614440918px;
	position:absolute;
	left:0.056222103536129px;
	top:7.882579326629639px;
}
.ei217_451_215_457 { 
	background-color:rgba(254.00000005960464, 254.00000005960464, 254.00000005960464, 1);
	width:14.680065155029297px;
	height:15.868208885192871px;
	position:absolute;
	left:22.39559555053711px;
	top:18.74544334411621px;
}
.e217_452 { 
	width:56.16725540161133px;
	height:53.358890533447266px;
	position:absolute;
	left:95.48408508300781px;
	top:907.10107421875px;
}
.ei217_452_215_472 { 
	background-color:rgba(24.000000469386578, 119.00000050663948, 242.00000077486038, 1);
	width:56.16725540161133px;
	height:53.0347785949707px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei217_452_215_473 { 
	background-color:rgba(255, 255, 255, 1);
	width:24.02466583251953px;
	height:42.937232971191406px;
	position:absolute;
	left:16.564952850341797px;
	top:10.421658515930176px;
}
.e217_453 { 
	width:53.358890533447266px;
	height:53.358890533447266px;
	position:absolute;
	left:190.96868896484375px;
	top:907.10107421875px;
}
.ei217_453_215_466 { 
	background-color:rgba(0, 1.0000000591389835, 0, 1);
	width:53.327632904052734px;
	height:53.34846878051758px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei217_453_215_467 { 
	background-color:rgba(0, 1.0000000591389835, 0, 1);
	width:27.40896224975586px;
	height:27.40896224975586px;
	position:absolute;
	left:12.97496509552002px;
	top:12.97496509552002px;
}
.ei217_453_215_468 { 
	background-color:rgba(0, 1.0000000591389835, 0, 1);
	width:6.398896217346191px;
	height:6.398909091949463px;
	position:absolute;
	left:37.726402282714844px;
	top:9.233623504638672px;
}
.e217_426 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:833px;
	height:804px;
	position:absolute;
	left:845px;
	top:0px;
	background-image:url("/static/images/mapsicle_map.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e218_690 { 
	background-color:rgba(36.00000165402889, 67.00000360608101, 110.00000104308128, 1);
	width:1678px;
	height:427px;
	position:absolute;
	left:0px;
	top:2750px;
}
.e218_691 { 
	width:277.0702209472656px;
	height:32px;
	position:absolute;
	left:197.9072265625px;
	top:55.174163818359375px;
}
.e218_692 { 
	color:rgba(255, 255, 255, 1);
	width:277.0702209472656px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:28.786518096923828px;
	letter-spacing:0;
}
.e218_695 { 
	color:rgba(255, 255, 255, 1);
	width:253.0814666748047px;
	height:38.382022857666016px;
	position:absolute;
	left:698.0732421875px;
	top:55.174163818359375px;
	font-family:Playfair Display;
	text-align:left;
	font-size:28.786518096923828px;
	letter-spacing:0;
}
.e218_697 { 
	width:227.8932647705078px;
	height:90.55758666992188px;
	position:absolute;
	left:698.0732421875px;
	top:131.93820190429688px;
}
.e218_698 { 
	width:227.8932647705078px;
	height:33.58427047729492px;
	position:absolute;
	left:0px;
	top:0px;
}
.e218_699 { 
	width:33.58427047729492px;
	height:33.58427047729492px;
	position:absolute;
	left:0px;
	top:0px;
}
.e218_700 { 
	width:29.98595428466797px;
	height:28.986425399780273px;
	position:absolute;
	left:1.19921875px;
	top:2.39886474609375px;
}
.e218_701 { 
	background-color:rgba(255, 255, 255, 1);
	width:29.98595428466797px;
	height:28.986425399780273px;
	position:absolute;
	left:0px;
	top:0px;
}
.e218_702 { 
	color:rgba(255, 255, 255, 1);
	width:175.11798095703125px;
	height:21.589887619018555px;
	position:absolute;
	left:52.77528381347656px;
	top:5.997191429138184px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_703 { 
	width:161.92416381835938px;
	height:33.58427047729492px;
	position:absolute;
	left:0px;
	top:56.97332763671875px;
}
.e218_704 { 
	width:33.58427047729492px;
	height:33.58427047729492px;
	position:absolute;
	left:0px;
	top:0px;
}
.e218_705 { 
	width:30.78557014465332px;
	height:30.785587310791016px;
	position:absolute;
	left:1.39892578125px;
	top:1.39935302734375px;
}
.e218_706 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.78557014465332px;
	height:30.785587310791016px;
	position:absolute;
	left:0px;
	top:0px;
}
.e218_707 { 
	color:rgba(255, 255, 255, 1);
	width:109.14888000488281px;
	height:23.9887638092041px;
	position:absolute;
	left:52.77528381347656px;
	top:4.79775333404541px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_708 { 
	width:155.92697143554688px;
	height:177.57302856445312px;
	position:absolute;
	left:172.9072265625px;
	top:131.91009521484375px;
}
.e218_709 { 
	width:155.92697143554688px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e218_710 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_711 { 
	width:155.92697143554688px;
	height:24px;
	position:absolute;
	left:0px;
	top:38.39324951171875px;
}
.e218_712 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_713 { 
	width:155.92697143554688px;
	height:24px;
	position:absolute;
	left:0px;
	top:76.7864990234375px;
}
.e218_714 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_715 { 
	width:155.92697143554688px;
	height:24px;
	position:absolute;
	left:0px;
	top:115.17977905273438px;
}
.e218_716 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_717 { 
	width:155.92697143554688px;
	height:24px;
	position:absolute;
	left:0px;
	top:153.57302856445312px;
}
.e218_718 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e218_719 { 
	color:rgba(144.4889795780182, 144.4889795780182, 144.4889795780182, 1);
	width:330.3166809082031px;
	height:48px;
	position:absolute;
	left:193.43629455566406px;
	top:363.4297790527344px;
	font-family:Raleway;
	text-align:left;
	font-size:19.191011428833008px;
	letter-spacing:0;
	line-height:px;
}
.e235_3296 { 
	background-color:rgba(36.00000165402889, 67.00000360608101, 110.00000104308128, 1);
	width:1680px;
	height:136px;
	position:absolute;
	left:4px;
	top:-2px;
}
.e235_3297 { 
	width:368px;
	height:19px;
	position:absolute;
	left:221px;
	top:45px;
}
.e235_3298 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e235_3299 { 
	width:88px;
	height:19px;
	position:absolute;
	left:77px;
	top:0px;
}
.e235_3300 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e235_3301 { 
	width:12px;
	height:12px;
	position:absolute;
	left:76px;
	top:3.5px;
}
.e235_3302 { 
	width:8px;
	height:4px;
	position:absolute;
	left:2px;
	top:4.5px;
}
.235_3303 { 
	border:1.149999976158142px solid rgba(255, 255, 255, 1);
}
.e235_3303 { 
	width:8px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
}
.e235_3304 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:19px;
	position:absolute;
	left:197px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e235_3305 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:19px;
	position:absolute;
	left:298px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e235_3306 { 
	width:136px;
	height:71px;
	position:absolute;
	left:12px;
	top:18px;
	background-image:url("/static/images/image_20.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e235_3307 { 
	width:130px;
	height:40px;
	position:absolute;
	left:1101px;
	top:34px;
}
.ei235_3307_0_557 { 
	background-color:rgba(255, 255, 255, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i235_3307_0_557 { 
	border:1px solid rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
}
.ei235_3307_0_559 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:46px;
	height:18px;
	position:absolute;
	left:42px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e235_3308 { 
	width:130px;
	height:40px;
	position:absolute;
	left:1261px;
	top:37px;
}
.ei235_3308_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei235_3308_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:18px;
	position:absolute;
	left:34px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e235_3309 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1607px;
	top:37px;
}
.ei235_3309_215_456 { 
	background-color:rgba(255, 3.000000058673322, 2.000000118277967, 1);
	width:48px;
	height:33.818180084228516px;
	position:absolute;
	left:0.047607421875px;
	top:7.090911865234375px;
}
.ei235_3309_215_457 { 
	background-color:rgba(254.00000005960464, 254.00000005960464, 254.00000005960464, 1);
	width:12.545443534851074px;
	height:14.27454662322998px;
	position:absolute;
	left:19.1385498046875px;
	top:16.86279296875px;
}
.e235_3310 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1445px;
	top:37px;
}
.ei235_3310_215_472 { 
	background-color:rgba(24.000000469386578, 119.00000050663948, 242.00000077486038, 1);
	width:48px;
	height:47.708438873291016px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei235_3310_215_473 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.53125px;
	height:38.625px;
	position:absolute;
	left:14.15625px;
	top:9.375px;
}
.e235_3311 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1526px;
	top:37px;
}
.ei235_3311_215_466 { 
	background-color:rgba(0, 1.0000000591389835, 0, 1);
	width:47.97187805175781px;
	height:47.990623474121094px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei235_3311_215_467 { 
	background-color:rgba(0, 1.0000000591389835, 0, 1);
	width:24.65625px;
	height:24.65625px;
	position:absolute;
	left:11.671875px;
	top:11.671875px;
}
.ei235_3311_215_468 { 
	background-color:rgba(0, 1.0000000591389835, 0, 1);
	width:5.756248474121094px;
	height:5.756259918212891px;
	position:absolute;
	left:33.9375px;
	top:8.306279182434082px;
}
