{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block main_block %}
    <div class="container">
        <!-- Add your main block content here -->
        <div class="mt-5">

            <!-- Main Content -->
            <div class="my-5">
                <br>
                <h1>Galeria</h1>
            </div>

            <div class="row">
                {% for gallery in object_list %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{{ gallery.image.url }}" data-lightbox="gallery">
                            <img class="card-img-top" src="{{ gallery.image.url }}" alt="{{ gallery.name }}">
                        </a>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
<br>
{% endblock %}
{% endblock %}