<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block sidebar %}
<nav class="navbar fixed-top navbar-expand navbar navbar-dark" style="background-color: #24436E;">
  <a class="navbar-brand" href="/"><img src="{% static 'images/image_20.png' %}" class="img-fluid" style="width: 45px"></a>
  <div class="container">
    <div class=" w-200 dual-collapse2 order-1 order-md-0">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'servicios' %}">Servicios</a> <!---agregar los urls luego !----->
        </li>
        <li class="nav-item">
          <a href="{% url 'horarios' %}" class="nav-link">Horarios</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'planes' %}" class="nav-link">Planes</a>
        </li>
      </ul>
    </div>
    <div class=" w -200 dual-collapse2 order-2 order-md-2">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <span class="nav-link">Follow us: </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/ftctraining.gym/?locale=es_LA"><img src="{% static 'images/Colored_Facebook3_svg-512.webp' %}" class="img-fluid" style="width: 25px"></a>
        </li>
        <!--quitar comentario para liberar el Tiwter-->
        <!---    <li class="nav-item">
          <a class="nav-link" href="#"><img src="{% static 'images/1_Twitter_colored_svg-512.webp' %}" class="img-fluid" style="width: 25px"></a>
        </li> ----->
        <li class="nav-item">
          <a class="nav-link" href="https://instagram.com/ftc_gym?igshid=MzRlODBiNWFlZA=="><img src="{% static 'images/1_Instagram_colored_svg_1-512.webp' %}" class="img-fluid" style="width: 25px"></a>
        </li>
        <!-- Add More Options button -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="moreOptionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="{% static 'images/icons8-menú-50.png' %}" class="img-fluid" style="width: 25px">
          </a>
          <div class="dropdown-menu" aria-labelledby="moreOptionsDropdown">
            <a class="dropdown-item" href="{% url 'maps:map' %}">Ubicación</a>
            <a class="dropdown-item" href="{% url 'gallery:gallery_display' %}">Galeria</a>
            <a class="dropdown-item" href="{% url 'calendar:calendar' %}">Calendario</a>
             <a class="dropdown-item" href="{% url 'personal:instructor_list' %}">Instructores</a>
            <!-- Add more options as needed -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block main_block %}
    <div class="container">
        <!-- Add your main block content here -->
        <div class="mt-5">
            <!-- Main Image -->
            <div class="container-fluid px-0"> <!-- Added "px-0" class to remove padding -->
                <img src="{% static 'images/main_image.jpg' %}" style="width: 100%;"> <!-- Added "w-100" class to make the image full width -->
            </div>

            <!-- Main Content -->
            <div class="my-5">
                <h1>Welcome to My Website!</h1>
                <p>This is the main content of your page.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block bnav %}
<!-- Footer -->
<footer>
    <div class="container">
        <!-- Bottom Navigation -->
        <nav class="navbar fixed-bottom navbar-expand navbar-dark"  style="background-color: #24436E;>
            <div class="container">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <span class="nav-link">Contáctenos:</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/ftctraining.gym/?locale=es_LA">
                            <img src="{% static 'images/Colored_Facebook3_svg-512.webp' %}" class="img-fluid" style="width: 25px">
                            <span class="nav-link-text">Facebook</span>
                        </a>
                    </li>
                    <!-- Uncomment to include Twitter icon -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="{% static 'images/1_Twitter_colored_svg-512.webp' %}" class="img-fluid" style="width: 25px">
                            <span class="nav-link-text">Twitter</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://instagram.com/ftc_gym?igshid=MzRlODBiNWFlZA==">
                            <img src="{% static 'images/1_Instagram_colored_svg_1-512.webp' %}" class="img-fluid" style="width: 25px">
                            <span class="nav-link-text">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://api.whatsapp.com/send/?phone=50686331785&text&type=phone_number&app_absent=0">
                            <img src="{% static 'images/icons8-whatsapp-48.png' %}" class="img-fluid" style="width: 25px">
                            <span class="nav-link-text">Whatapp </span>
                        </a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</footer>
{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>