{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Block -->
    {% block main_block %}
        <div class="container">
            <!-- Add your main block content here -->
            <div class="mt-5">
                <!-- Main Image -->
                <div class="container-fluid">
                    <img src="{% static 'images/main_image.jpg' %}" class="img-fluid">
                </div>

                <!-- Main Content -->
                <div class="my-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Nosotros</h1>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12">
      <h2></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Quienes Somos</h3>
      <p>Somos un Gimnasio enfocado en ayudar, motivar, hacer que las personas mejoren en la actividad física y su deporte mediante el entrenamiento funcional, hipertrofia o calistenia (peso corporal), las cuales mejoran las capacidades físicas básicas y capacidades coordinativas.</p>

    </div>
    <div class="col-md-6">
      <h3>Composición Corporal</h3>
      <p>Proporcionar un enfoque de entrenamiento integral que promueva la salud física y mental de sus miembros.</p>
      <p>🏆Disminución de Peso</p>
      <p>🏆Pérdida de Porcentaje Graso</p>
      <p>🏆Aumento de Masa Muscular o hipertrofia</p>
      <p>🏆Entrenamiento tomando en cuenta lesiones o padecimientos de las personas</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Misión</h2>
      <p>Convertirse en una comunidad de entrenamiento de referencia en su área, que promueva el entrenamiento funcional y la calistenia como una forma de vida y que inspire a sus miembros a alcanzar su máximo potencial físico y mental. También podrían buscar expandirse a nivel nacional e incluso internacional, ofreciendo su enfoque de entrenamiento a un público más amplio y diverso.</p>
    </div>
    <div class="col-md-6">
      <h2>Visión</h2>
      <p>Ofrecer un enfoque de entrenamiento seguro, efectivo y progresivo que ayude a los miembros a alcanzar sus objetivos de fitness y mejorar su calidad de vida en general. Esto podría incluir programas de entrenamiento personalizados, seguimiento del progreso y educación sobre nutrición y otros aspectos de la salud.</p>
    </div>
  </div>
</div>

<div class="my-5">
  <table class="table">
    <tr>
      <td style="background-color: orange; padding: 20px; ">
        <h1>Contáctenos</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Enviar solicitud</button>
        </form>
      </td>
      <td>
        <div class="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15715.92936428271!2d-84.22291485695257!3d10.018315567741432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f91995fd3cd5%3A0xc79413d779094875!2sFT%20%26%20Calisthenics%20Gym!5e0!3m2!1ses-419!2scr!4v1683610314079!5m2!1ses-419!2scr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </td>
    </tr>
  </table>
</div>

    {% endblock %}
{% endblock %}